.container {
	position: absolute;
	display: block;
	width: 28%;
	height: 40%;
	background-color: #07142c;
}

/* Game information on the top */

#infocontainer {
	position: relative;
	display: block;
	top:2.5%;
	left:1.5%;
	width: 91%;
	height: 26%;
	background-color: #0b1b38;
}


.test-heading {
	display: block;
  	width: 100%;
  	position: relative;
  	top: 9%;
  	left: 0;
  	font-size: 20px;
  	line-height: 13px;
  	color: #FFFFFF;
  	font-weight: 400;
  	text-align: center;
}


.game-title {
	display: block;
  	width: 100%;
  	position: relative;
  	top: 34%;
  	left: 0;
  	font-size: 20px;
  	line-height: 13px;
  	color: #FFFFFF;
  	font-weight: 500;
  	text-align: center;
}

.test-subtitle {
	display: block;
	position: relative;
	float: left;
	top: 19%;
	width: 100%;
	font-size: 14px;
	line-height: 13px;
  	color: #00FFFF;
  	font-weight: 400;
  	text-align: center;
}


/* Rate selection with three columes */

.test-row {
	position:relative;
	width:100%;
	height:20%;
	top:6%;
	left:0;
	margin-bottom: 5px;
	text-align:center;
}



.col1 {
	position:relative;
	float:left;
	width:30%;
	height:20%;
	background-color:#0c1c2f;
	margin-left: 3%;

}



.col2 {
	position:relative;
	float:left;
	width:30%;
	height:auto;
	margin-left: 2%;

}

.col3 {
	position:relative;
	float:left;
	width:30%;
	margin-left: 2%;


}

.selected {
    color: #49c6e6;
}


/* User input and outcome */


.input-row {
	position:relative;
	float:left;
	top:3%;
	left:0%;
	height:auto;
	width:90%;
	font-size:14px;
	font-weight:100;
	font-style:italic;
	color:white;
}

.stake-box {
	position:relative;
	float:left;
	left:5%;
	width:50%;
}

#stake {
	position:relative;
	width:65%;
}

.wins-box {

	position:relative;
	float:left;
	left:12%;
	width:50%;

}

#wins {
    height:30%;
	width:65%;
}

/* Button style and the submit */


.bet {
	position:relative;
	top:10%;
	left:36%;
	width:34%;



}

.bet a{
	position:relative;
	top:5%;

}

.betnow {
	-moz-box-shadow:inset -26px -7px 19px -50px #79b842;
	-webkit-box-shadow:inset -26px -7px 19px -50px #79b842;
	box-shadow:inset -26px -7px 19px -50px #79b842;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #19c30a), color-stop(1, #19c30a) );
	background:-moz-linear-gradient( center top, #19c30a 5%, #19c30a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#19c30a', endColorstr='#19c30a');
	background-color:#19c30a;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	display:inline-block;
	color:#f7fcf7;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:37px;
	line-height:35px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #a0d470;
	-webkit-box-shadow: 0px 0px 4px 4px rgba(179,163,179,0.44);
	-moz-box-shadow: 0px 0px 4px 4px rgba(179,163,179,0.44);
	box-shadow: 0px 0px 4px 4px rgba(179,163,179,0.44);
}
.betnow:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(1, #5bbe52), color-stop(1, #5bbe52) );
	background:-moz-linear-gradient( center top, #5bbe52 50%, #5bbe52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bbe52', endColorstr='#5bbe52');
	background-color:#5bbe52;
}.betnow:active {
	position:relative;
	
}

